# Force npm to print help messages for every command, effectively preventing
# use of npm.
usage = true

# Tell the user to use yarn instead of npm.
heading = "================================================\n\n\n\tPlease use `yarn`, not `npm`!\n\n\t`npm` commands have been disabled.\n\n\n================================================\nnpm"

# Ensure that at least some logging information is displayed, so that the above
# `heading` option takes effect.
loglevel = "info"
